*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    font-family:"Pretendard", sans-serif;
}
.wrap{
    height: 970px;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}

/************** 헤더 **************/
header{
    height: 170px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    margin: 0 auto;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0,0, 0.05);
    pointer-events: none;
    transform: translateX(-50%);
}
header .headerInner{
    width: 1400px;
    margin: 0 auto;
}

/* 헤더 상단 */
header .headerInner .headerTop{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 8px;
}

/* 로고 */
header .headerTop .logo{
    width: 170px;
}

/* 헤더 검색창 */
header .headerTop .headerSearch{
    position: relative;
}
header .headerTop .headerSearch input{
    width: 470px;
    height: 45px;
    padding: 0 60px 0 20px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 16px;
    line-height: 50px;
    color: #333;
    border: 1px solid #999;
}
header .headerTop .headerSearch .searchBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
    position: absolute;
    top: 14%;
    right: 15px;
}

/* 헤더 우측상단 버튼들 */
header .headerTop .headerTopBtnBox{
    display: flex;
}
header .headerTop .headerTopBtnBox a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}
header .headerTop .headerTopBtnBox a p{
    font-size: 14px;
    margin-top: 6px;
}

/* 헤더 하단 */
header .headerBottom{
    display: flex;
    height: 75px;
}
header .headerBottom li a{
    line-height: 75px;
    margin-left: 50px;
    font-weight: bold;
}
header .headerBottom li:first-child a{
    margin-left: 0;
}
header .headerBottom li a:hover{
    color: #d3233a;
}

/************** 푸터 **************/
footer{
    height: 342px;
    background-color: #f8f8f8;
}
footer .footerInner{
    width: 1400px;
    margin: 0 auto;
    padding:  50px 0;
}

/* 푸터상단 */
footer .footerInner .footerTop{
    /* height: 187px; */
    display: flex;
    justify-content: space-between;
}
/* 푸터상단-왼쪽 */
footer .footerInner .footerTop .footerTopLeft{
    width: 600px;
}
footer .footerInner .footerTop .footerTopLeft .footerTopNav{
    display: flex;
    justify-content: space-between;
}
footer .footerInner .footerTop .footerTopLeft .footerTopNav li:first-child{
    margin-left: 0;
}
footer .footerInner .footerTop .footerTopLeft .footerTopNav li a{
    font-weight: bold;
    font-size: 15px;
}
footer .footerInner .footerTop .footerTopLeft .footerTopAddress{
    margin-top: 40px;
}
footer .footerInner .footerTop .footerTopLeft .footerTopAddress >div{
    display: flex;
    font-size: 14px;
    margin: 10px 0;
}
footer .footerInner .footerTop .footerTopLeft .footerTopAddress >div p{
    display: inline-block;
}
footer .footerInner .footerTop .footerTopLeft .footerTopAddress >div p:last-child::before{
    content: "|";
    margin: 0 5px;
}
footer .footerInner .footerTop .footerTopLeft .footerTopAddress >div p a{
    text-decoration: underline;
}


/* 푸터상단-오른쪽 */
footer .footerInner .footerTop .footerTopRight{
    width: 220px;
    text-align: right;
}
footer .footerInner .footerTop .footerTopRight p{
    margin-bottom: 10px;
}
footer .footerInner .footerTop .footerTopRight p:nth-child(2){
    font-size: 30px;
    color: #00317a;
    font-weight: bold;
}
footer .footerInner .footerTop .footerTopRight .footerBtnBox{
    margin-top: 15px;
}
footer .footerInner .footerTop .footerTopRight .footerBtnBox a{
    margin-left: 30px;
}

/* 푸터하단 */
footer .footerInner .footerBottom{
    height: 55px;
    display: flex;
    justify-content: left;
}
footer .footerInner .footerBottom p{
    line-height: 50px;
}
footer .footerInner .footerBottom a{
    margin-left: 20px;
}