
.ItemListContainer{
    /* background-color: pink; */
    padding-top: 20px;
}
.ItemListInner{
    width: 1400px;
    margin: 0 auto;
    /* background-color: palegreen; */
}
/* 경로 */
.ItemListContainer .channelSrc{}
.ItemListContainer .channelSrc >a{
    color: #aaa;
    font-size: 14px;
}
.ItemListContainer .channelSrc >a:last-child{
    color: black;
}
.ItemListContainer .channelSrc >a:first-child::after{
    content: ">";
    color: #aaa;
}
/* 타이틀 */
.ItemListContainer .ItemListInner >h2{
    margin: 40px 0;
    font-size: 35px;
}
/* 상품리스트 */
.ItemListContainer .ItemListInner .ItemListSection{}

/* 탭메뉴 */
.ItemListContainer .ItemListInner .ItemListSection .ItemTapMenu{
    display: flex;
    /* background-color: forestgreen; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin-bottom: 30px;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemTapMenu li{
    margin-left: 10px;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemTapMenu li:first-child{
    margin-left: 0;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemTapMenu li a{}
.ItemListContainer .ItemListInner .ItemListSection .ItemTapMenu li a:hover{
    color: #d3233a;
    font-weight: bold;
}

/* 상품리스트 나열 */
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBoxes{
    display: flex;
    flex-wrap: wrap;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox{
    width: 320px;
    height: 500px;
    /* background-color: indigo; */
    margin: 0 15px;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentImg{
    height: 320px;
    /* background-color: palevioletred; */
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentImg img{
    max-width: 320px;
    margin: 0 auto;
    display: block;
    transition: all 0.3s;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentImg:hover img{
    transform: scale(1.1);
}

.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentText{
    /* background-color: khaki; */
    cursor: default;
    padding-top: 15px;
}

.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentText .ItemPrice{
    font-weight: bold;
    padding-top: 10px;
    
}
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentText .ItemPrice >span{
    font-size: 25px;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentText .ItemStorageMethod{
    padding-top: 15px;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentText .ItemStorageMethod> span{
    color: #d3233a;
    border: 1px solid #f2afaf;
    border-radius: 5px;
    padding: 2px 7px;
    font-size: 13px;
    line-height: 21px;
    margin-right: 5px;
}
.ItemListContainer .ItemListInner .ItemListSection .ItemContentBox .ItemContentText .ItemStorageMethod> span:nth-child(2){
    color: #fff;
    background-color: #d3233a;
    border: 1px solid #d3233a;
    
}
